# hahow使用
course_url: null  # 課程 URL
authorization: null  # 授權資訊

# sat使用

course:
  course_num: 47  # 課程編號 int

auth:
  token: ""  # 替換為實際的 Bearer token

# 定義程式行為
fetch_course_content_json: true  # 是否抓取課程 JSON
download_from_fetch_dict: true  # 是否直接從這次提取的 JSON 文件中下載
download_from_existed_json: false  # 是否從已存在的 JSON 文件中下載
existed_json_name: ""  # 已存在的 JSON 文件名稱

# 下載參數
desired_quality: '360p'  # 下載影片的品質，可選值: '240p', '360p', '540p', '720p', '1080p'
base_path: './'  # 下載路徑